<ion-view  view-title="聊天可以分享心得" >
<!-- 聊天框 -->
  <ion-nav-buttons side="right">
    <button class="icon ion-person  button-clear" ng-click="showFriendsInfo()"></button>
  </ion-nav-buttons>

    <ion-content style="background-color:#0a3d26">

    <div class =" line">
    <img class="sendImg"src="img/ben.png">
    	<div class="send">hello，你觉得聊天有意思吗？
        	<div class="arrow"></div>
        </div>
    </div>


    <div class =" line">
    <img class="getImg"src="img/max.png"  >
    	<div class="get">大概没意思，读书才是好的！
        	<div class="arrow"></div>
        </div>
    </div>
    <div class =" line">
    <img class="sendImg"src="img/ben.png">
    	<div class="send">好吧，那我去读一读《怎么好好活下去》
        	<div class="arrow"></div>
        </div>
    </div>
      <div class =" line">
        <img class="sendImg"src="img/ben.png">
        <div class="send">好吧，那我去读一读《怎么好好活下去》
          <div class="arrow"></div>
        </div>
      </div>
      <div class =" line">
        <img class="sendImg"src="img/ben.png">
        <div class="send">好吧，那我去读一读《怎么好好活下去》
          <div class="arrow"></div>
        </div>
      </div>
      <div class =" line">
        <img class="sendImg"src="img/ben.png">
        <div class="send">好吧，那我去读一读《怎么好好活下去》
          <div class="arrow"></div>
        </div>
      </div>
      <div class =" line">
        <img class="sendImg"src="img/ben.png">
        <div class="send">好吧，那我去读一读《怎么好好活下去》
          <div class="arrow"></div>
        </div>
      </div>
      <div class =" line">
        <img class="sendImg"src="img/ben.png">
        <div class="send">好吧，那我去读一读《怎么好好活下去》
          <div class="arrow"></div>
        </div>
      </div><div class =" line">
      <img class="sendImg"src="img/ben.png">
      <div class="send">好吧，那我去读一读《怎么好好活下去》
        <div class="arrow"></div>
      </div>
    </div>
      <div class =" line">
        <img class="sendImg"src="img/ben.png">
        <div class="send">好吧，那我去读一读《怎么好好活下去》
          <div class="arrow"></div>
        </div>
      </div><div class =" line">
      <img class="sendImg"src="img/ben.png">
      <div class="send">好吧，那我去读一读《怎么好好活下去》
        <div class="arrow"></div>
      </div>
    </div><div class =" line">
      <img class="sendImg"src="img/ben.png">
      <div class="send">好吧，那我去读一读《怎么好好活下去》
        <div class="arrow"></div>
      </div>
    </div><div class =" line">
      <img class="sendImg"src="img/ben.png">
      <div class="send">好吧，那我去读一读《怎么好好活下去》
        <div class="arrow"></div>
      </div>
    </div>
      <div class =" line">
        <img class="sendImg"src="img/ben.png">
        <div class="send">好吧，那我去读一读《怎么好好活下去》
          <div class="arrow"></div>
        </div>
      </div><div class =" line">
      <img class="sendImg"src="img/ben.png">
      <div class="send">好吧，那我去读一读《怎么好好活下去》
        <div class="arrow"></div>
      </div>
    </div><div class =" line">
      <img class="sendImg"src="img/ben.png">
      <div class="send">好吧，那我去读一读《怎么好好活下去》
        <div class="arrow"></div>
      </div>
    </div><div class =" line">
      <img class="sendImg"src="img/ben.png">
      <div class="send">好吧，那我去读一读《怎么好好活下去》
        <div class="arrow"></div>
      </div>
    </div>

    </ion-content>

  <ion-footer-bar   class="bar-stable">
    <input class=" " style="width:70%;height: auto"/>
    <button class="button-clear ion-image" style="margin-left: 5px;"></button>
    <button class="button-clear " style="margin-left:  5px;">发送</button>
  </ion-footer-bar>


</ion-view>
